<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>StackOverFlow Lite</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Exo+2|Oswald" rel="stylesheet">
</head>

<body>
  <div class="main-div">
    <header class="main-header">
      <h2 class="main-heading">STACKOVERFLOW LITE</h2>
    </header>


    <!-- Container div -->
    <div class="container-div">
      <!-- left side empty div -->
      <div class="welcome-div">
        <div class="welcome-text">
          WELCOME TO STACKOVERFLOW LITE
          <blockquote class="block-text">
            FOR ALL YOUR CODING QUESTIONS
          </blockquote>
        </div>

      </div>
      <!-- right aside div -->
      <div class="aside-div">
        <!-- form div  -->
        <div class="form-div">
          <h3><u>Login</u></h3>
          <form class="login-form" action="#" method="post">
            <input type="text" name="username" placeholder="UserName">
            <input type="password" name="password" placeholder="Password">
            <button class="buttons" type="submit" name="submitButton">Login</button>
          </form>
        </div>
        <!-- sign up div -->
        <div class="sign-up-div">
          <h3 class="sign-up-header"><u>Sign Up To:</u></h3>
          <div class="list-type1">
            <ol>
              <li><a href="#">Post questions</a></li>
              <li><a href="#">Post answers</a></li>
              <li><a href="#">Edit answers</a></li>
              <li><a href="#">And MMuch more...</a></li>
            </ol>
            <button class="buttons" type="submit" name="signUp-button">Sign Up</button>
          </div>


        </div>
      </div>
    </div>


  </div>

</body>
</body>

</html>
